# Supabase Configuration
# VITE_SUPABASE_URL=https://cupmstjfvwljsakfbhva.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpbGV5YWh6ZHBveWpncnp0eG93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NzE2MTQsImV4cCI6MjA3NzI0NzYxNH0.b9RNGS-r4B91y96nxdUjK_jNtaG_5Dm-KwBSKtlPMYs
# Supabase Configuration
VITE_SUPABASE_URL=https://cupmstjfvwljsakfbhva.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1cG1zdGpmdndsanNha2ZiaHZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNDEwMjIsImV4cCI6MjA3NjcxNzAyMn0.yOkNCBnGAvL6ZaZEoiCyaCtDEH57BkC59LOg9Rk0NU8


# Stripe Configuration (Optional)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51SPm65D0RWyMHG7jiDBMwfK0WWt9CAJSqjtNUaWdIkyC940oUuvJ3pqCe3bBSToS8l7B3RB5ZzzZfGUGVhF3nFFK00ZygSpXEJ
STRIPE_SECRET_KEY=sk_test_51SPm65D0RWyMHG7j33JRNLjRRhI2abn2s956D5jOgSrSgSYuj6qlCkfsxBkSmAA7e5MivnppY0QVhBQnR9St6vS400AihNBRzi
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Application Configuration
VITE_APP_URL=http://localhost:5173
VITE_APP_NAME=GymPro

# Optional: Sentry for error tracking
VITE_SENTRY_DSN=your_sentry_dsn